.ContactGroup1{
    padding-top: 74px;
    padding-bottom: 74px;
    background-color: #DDBEAA;
    min-height: 102vh;
    color: #FFFFFF;
    .ItemConact{
        display: flex;
        margin-top: 44px;
        .Mail{
            position: relative;
            bottom: 5px;
        }
        .iPhone{
            position: relative;
            bottom: 7px;
            right: 3px;
        }
        .Vector{
            position: relative;
            bottom: 5px;
        }
        h2{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            line-height: 130%;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-left: 10px;
        }
    }
}

.ContactMap{
    background-color: #3C3D46;
    padding-top: 83px;
    padding-bottom: 83px;
    min-height: 100vh;
}