.Form{
    .Worning{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
    }
    .Check{
        display: flex;
        span{
            position: relative;
        }
    }
}

@media (max-width: 992px){
    .Send{
        display: flex;
        justify-content: center;
    }
}