html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #3C3D46;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(148.13deg, #DDBEAA 17.93%, #D6D1D4 52.07%, #469597 91.59%);;
  border: #000000  solid 2px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.White{
  background: rgba(255, 255, 255, 0.6);
  color: black;
}
.Leather{
  background: rgba(221, 190, 170, 0.6);
  color: white;
}
.Pearl{
  background: rgba(214, 209, 212, 0.6);
  color: black;
}
.DeepGray{
  background: rgba(60, 61, 70, 0.6);
  color: white;
}
.Lasur{
  background: rgba(70, 149, 151, 0.6);
  color: black;
}
.on{
  display: flex;
  justify-content: center;
  text-align: center;
}
.off{
  display: none;
}
.TitlePage{
  h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
  }
}
@media (max-width: 992px){
  .TitlePage{
    h1{
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 75px;
      text-align: center;
    }
  }
}